<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="9f1f64e5-5731-4dc3-948a-4f7ab8b2064b" file="api\config\jy-deloitte-exam-exp-api-demo.yaml" key="${mule.key}" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<http:listener-config name="jy-deloitte-exam-exp-api-httpListenerConfig">
        <http:listener-connection host="${secure::http.host}" port="${secure::http.port}" />
    </http:listener-config>
    <http:request-config name="Proc_API_HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="e2bc469d-c54f-4808-a048-34c11baf8362" basePath="/api/v1">
		<http:request-connection host="${secure::proc.api.host}" port="${secure::proc.api.port}" />
		<http:default-headers >
			<http:default-header key="Authorization" value="${secure::proc.api.auth}" />
			<http:default-header key="correlation-id" value="#[vars.logCorrId]" />
		</http:default-headers>
	</http:request-config>
</mule>
